#search-box {
    background: white;
    border-radius: 30px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text, #search-box #search-text:valid {
    width: 200px;
    padding: 10px 0px 10px 15px;
}

#search-box #search-btn {
    background-color: rgb(255, 56, 92);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

nav {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: #f44566;
}

span-1:hover {
    color: #f44566;
    cursor: pointer;
}




.scroll {

    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / 2);

}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
background: rgb(255,56,92);
    cursor: pointer;
}
.imgbx img{
    max-width: 200px;
    scale: 0.8;
    filter: grayscale(1);
}
.imgbx img:hover{
    filter: grayscale(0);
}

.container-1 {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 100%;
    height:450px;
    border-radius: 1.5rem;
}

.card__data {
    width: 330px;
    background-color: white;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.98);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: var(--smal-font-size);
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h5-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover {
    text-decoration: underline;
}

.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 2s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

._tyxjp1 {
    font-weight: var(--pricing-guest-primary-line-unit-price-font-weight, 800);
}





