.custom-carousel {
    height: 800px;
}

.height-image {
    height: 800px;
}

.explore {
    padding: 117px 0 95px;
    background: #f8fafb;
}

.custom-bg {
    background-color: #2b4e49;
}

.explore-1 {
    padding: 50px 0 20px;
}

.explore-2 {
    padding: 10px 0 40px;
}